body {
    background-color:black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: 16px;
}

a{
  color:white;
  text-decoration: none;
}